[Unit]
Description=Ardop for Winlinkauto
After=network.target

[Service]
Type=simple
User=winlinkauto
Group=winlinkauto
ExecStart=bash -c "/usr/local/bin/winlinkauto/ardop.sh"
ExecStop=bash -c "killall ardopcf"
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ardop

Restart=always

[Install]
WantedBy=multi-user.target

