[Unit]
Description=Ardop for Winlinkauto
After=network.target

[Service]
Type=simple
User=winlinkauto
Group=winlinkauto
#ExecStart=bash -c "/usr/local/bin/winlinkauto/ardopc/ardopc  -l /var/log/winlinkauto/ardop 8515 plughw:2,0 plughw:2,0"
ExecStart=bash -c "/usr/local/bin/winlinkauto/ardopc/ardopc64  -l /var/log/winlinkauto/ardop 8515 plughw:2,0 plughw:2,0"
#ExecStart=bash -c "/usr/bin/ardop -l /var/log/winlinkauto/ardop 8515 plughw:2,0 plughw:2,0"
ExecStop=bash -c "killall ardopc"
StandardOutput=file:/var/log/winlinkauto/ardop.log
StandardError=file:/var/log/winlinkauto/ardop.log
Restart=always

[Install]
WantedBy=multi-user.target

