[Unit]
Description=Ardop for Winlinkauto
After=network.target

[Service]
Type=simple
User=riley
Group=winlinkauto
ExecStart=bash -c "/usr/local/bin/winlinkauto/ardopc/piardopc  -l /var/log/winlinkauto/ardop 8515 plughw:1,0 plughw:1,0"
ExecStop=bash -c "killall piardopc"
StandardOutput=file:/var/log/winlinkauto/ardop.log
StandardError=file:/var/log/winlinkauto/ardop.log
Restart=always

[Install]
WantedBy=multi-user.target

