[Unit]
Description=Pat Winlink for Winlinkauto
After=network.target

[Service]
Type=simple
User=riley
Group=winlinkauto
ExecStart=bash -c "/usr/bin/pat http"
ExecStop=bash -c "killall pat"
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=patwinlink


[Install]
WantedBy=multi-user.target

