[Unit]
Description=Rigctld for Winlinkauto
After=network.target

[Service]
Type=simple
User=winlinkauto
Group=winlinkauto
ExecStart=bash -c "/usr/local/bin/winlinkauto/rigctl.sh"
StandardOutput=file:/var/log/winlinkauto/rigctl.log
StandardError=file:/var/log/winlinkauto/rigctl.log
Restart=always

[Install]
WantedBy=multi-user.target

